 /* label focus color */
   .input-field input:focus + label, .input-field textarea:focus + label{
     color: #f57c00!important;
}
/* label underline focus color */
   .input-field input:focus, .input-field textarea:focus{
   	 border-bottom: 1px solid #f57c00!important;
     box-shadow: 0 1px 0 0 #f57c00!important;
   }

   input[type=range]+.thumb{
    background-color: #f57c00!important;
}

input[type=range]::-webkit-slider-thumb {
    background: #f57c00!important;
}

input[type=range]::-moz-range-thumb {
    background: #f57c00!important;
}
input[type=range]::-ms-thumb {
    background: #f57c00!important;
}

.picker__date-display {
  background-color:#f57c00;
}
.picker__weekday-display {
  background-color:#f57c10;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color:#212121;
}

[type="checkbox"]:checked + label:before{
	border-right-color: #f57c10;
	border-bottom-color: #f57c10;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
	    background-color: #f57c10;
}



[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
	border-color: #f57c10;
}

ul.dropdown-content.select-dropdown li span {
    color: #f57c10; /* no need for !important :) */
}

.input-field label{
	z-index: -1;
}

.lm_btn{
	margin:7px;
}

.row{
    margin-bottom: 0;
}

.btn-flat{
    float: right;
}
